name = "dead-man-switch"
main = "src/index.ts"
compatibility_date = "2024-05-02"
compatibility_flags = ["nodejs_compat"]

[[workflows]]
name = "dead-man-switch-workflow"
binding = "DEAD_MAN_SWITCH_WORKFLOW"
class_name = "DeadManSwitchWorkflow"

[[kv_namespaces]]
binding = "KV"
id = "bf909cc3828344cd8eafdc343ef01bd2"
preview_id = "bf909cc3828344cd8eafdc343ef01bd2"

[observability]
enabled = true
head_sampling_rate = 1

[vars]

# Remove RESEND_API_KEY from here before pushing to GitHub.
# Set RESEND_API_KEY securely in your Cloudflare dashboard (Environment Variables).
 
ENCRYPTION_SECRET = "wRdxSgJZwgijlJYxafDF3YJqWFv9gLCCqZjRtvNdjaM="
